/* ==|====================
  Base
======================= */

article {
  overflow-x: hidden;
}

body {
  font-size: 100%;
  font-family: $font;
  font-weight: 400;
  line-height: normal;

  &:before {
    display: none;
  }

  // Generate breakpoints for JS
  @each $key, $breakpoint in $mqBreakpoints {
    @include mq($key) {
      &:before {
        content: '#{$key}';
      }
    }
  }
}

::selection {
  background: lighten($color-selection, 30);
}

.h1-alike,
h1 {
  font-size: 3rem;
  font-weight: 500;
}
