{% block content %}
<div is="textComponent" inline-template>
  <div class="m-text">
    {% include '@components/text/text.twig' with { 'text': data.fieldText.processed } %}

    <!--
    <button type="button" @click="toggle">Toggle text</button>
    <div v-show="isVisible" style="display: none;">
      {{ 'Hidden text'|t }}
    </div>
    -->
  </div>
</div>
{% endblock %}
