.block-frontend-primary-local-tasks {
  .tabs.primary {
    z-index: 9;
    display: flex;
    position: fixed;
    bottom: 1rem;
    list-style: none;
    padding: .5rem;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 1px solid #eee;
    border-radius: 36px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);

    li {
      display: inline-block;
      margin-right: 0.3em;
    }

    a {
      text-decoration: none;
      display: block;
      padding: .2em 1em;
      font-weight: 400;
      border-radius: 16px;

      &, &:link {
        color: #000;
      }

      &:hover {
        background-color: #f5f5f5;
      }

      &.is-active {
        font-weight: 600;
        background-color: #eee;
      }
    }
  }
}
