/* ==|====================
  Settings / Breakpoints
======================= */

$zero: "only screen";
$micro: "only screen and (min-width: #{em($screen-micro)})";
$small: "only screen and (min-width: #{em($screen-small)})";
$medium: "only screen and (min-width: #{em($screen-medium)})";
$default: "only screen and (min-width: #{em($screen-default)})";
$large: "only screen and (min-width: #{em($screen-large)})";
$navigation: "only screen and (min-width: #{em($screen-navigation)})";
$wide: "only screen and (min-width: #{em($screen-wide)})";
$ultra: "only screen and (min-width: #{em($screen-ultra)})";

$zero-up: $zero;
$zero-only: "#{$zero} and (max-width: #{em($screen-micro - 1px)})";

$micro-up: $micro;
$micro-down: "(max-width: #{em($screen-micro - 1px)})";
$micro-only: "#{$micro} and (max-width: #{em($screen-small - 1px)})";

$small-up: $small;
$small-down: "(max-width: #{em($screen-small - 1px)})";
$small-only: "#{$small} and (max-width: #{em($screen-medium - 1px)})";

$medium-up: $medium;
$medium-down: "(max-width: #{em($screen-medium - 1px)})";
$medium-only: "#{$medium} and (max-width:#{em($screen-default - 1px)})";

$default-up: $default;
$default-down: "(max-width: #{em($screen-default - 1px)})";
$default-only: "#{$default} and (max-width:#{em($screen-large - 1px)})";

$large-up: $large;
$large-down: "(max-width: #{em($screen-large - 1px)})";
$large-only: "#{$large} and (max-width:#{em($screen-navigation - 1px)})";

$navigation-up: $navigation;
$navigation-down: "(max-width: #{em($screen-navigation - 1px)})";
$navigation-only: "#{$navigation} and (max-width:#{em($screen-wide - 1px)})";

$wide-up: $wide;
$wide-down: "(max-width: #{em($screen-wide - 1px)})";
$wide-only: "#{$wide} and (max-width:#{em($screen-ultra - 1px)})";

$ultra-up: $ultra;

// definde mobile breakpoint
$mobilenav: $large-up;
