/* ==|============
   Tools / Mixins
   =============== */

@mixin clearfix {
	&:after {
		display: table;
		clear: both;
		content: '';
	}
}

@mixin resetButton {
  background: none;
  border: none;
}

@mixin stallTiming($hold, $start, $end, $gap) {
	$delay: $hold;
	@for $i from $start through $end {
		$delay: $delay + $gap;

		&:nth-child(#{$i}) {
			animation-delay: #{$delay}ms;

		}
	}
}

@mixin gridCol($size: $gridColumns, $columns: $gridColumns, $gutter: $gridGutter, $align: top, $maxWidth: true) {
  $percentageColumnSize: percentage($size / $columns);

  @if $gutter != 0 {
    flex: 1 0 calc(#{$percentageColumnSize} - #{$gutter});

    .no-flexbox &,
    .flexboxtweener & {
      // flex-basis: calc(#{$percentageColumnSize} - #{$gutter}); // TODO: Watch https://github.com/Modernizr/Modernizr/issues/2141
      width: calc(#{$percentageColumnSize} - #{$gutter});
    }

    max-width: calc(#{$percentageColumnSize} - #{$gutter});
    margin-left: ($gutter / 2);
    margin-right: ($gutter / 2);
  } @else {
    flex: 1 0 $percentageColumnSize;
    max-width: $percentageColumnSize;
    margin-left: 0;
    margin-right: 0;
  }

  @if $maxWidth == false {
    max-width: none;
  }
}

@mixin gridColPush($size: $gridColumns, $columns: $gridColumns) {
  $percentageColumnSize: percentage($size / $columns);
  margin-left: calc(#{$percentageColumnSize} + #{$gridGutter}/4);
}

@mixin gridColPull($size: $gridColumns, $columns: $gridColumns) {
  $percentageColumnSize: percentage($size / $columns);
  margin-right: calc(#{$percentageColumnSize} + #{$gridGutter}/4);
}

@mixin gridContainer($gutter: $gridGutter, $nowrap: false) {
  display: flex;

  @if $nowrap {
    @include gridNowrap;
  } @else {
    flex-wrap: wrap;
  }

  @if $gutter != 0 {
    margin-left: (-$gutter / 2);
    margin-right: (-$gutter / 2);
  } @else {
    margin-left: 0;
    margin-right: 0;
  }
}

@mixin gridNowrap() {
  flex-wrap: nowrap;
}

@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin dottedBorder() {
  content: '';
  background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 7px 1px;
  background-repeat: repeat-x;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-radius: 50%;
}
